In [27]:
## Import typical data science packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import re

In [28]:
## Import and concatenate the data files

# Directory containing the CSV files
data_dir = r"../Data/"
# Filenames to be processed
all_files = [
    "adm2014_rv.csv",
    "adm2015_rv.csv",
    "adm2016_rv.csv",
    "adm2017_rv.csv",
    "adm2018_rv.csv",
    "adm2019_rv.csv",
    "adm2020_rv.csv",
    "adm2021_rv.csv",
    "adm2022_rv.csv",
    "adm2023.csv"
]

# Read and combine all matched CSV files
dfs = []
for file in all_files:
    # Construct full file path
    file_path = os.path.join(data_dir, file)
    # Read the CSV file
    df = pd.read_csv(file_path)
    # Extract the four digits in the filename
    
    match = re.search(r'(\d{4})', file)
    if match:
        df['year'] = match.group(1)
    else:
        df['year'] = None
    # Clean white space out of column names
    df.columns = df.columns.str.strip()
    dfs.append(df)

combined_df = pd.concat(dfs, ignore_index=True)

In [29]:
# Quick description of the combined data
combined_df['year'].describe()

count     20575
unique       10
top        2014
freq       2236
Name: year, dtype: object

In [30]:
# Do basic cleaning of the combined data
# Drop duplicates
combined_df.drop_duplicates(inplace=True)
# Drop rows with missing UNITID
combined_df.dropna(subset=['UNITID'], inplace=True)
# Ensure UNITID is integer
combined_df['UNITID'] = combined_df['UNITID'].astype(int)
# Reset index after cleaning
combined_df.reset_index(drop=True, inplace=True)

In [31]:
## Look at which observations are not recorded at all in certain years

# For each column, find years where all entries are null for that column
null_years = {}
for col in combined_df.columns:
    # Group by year and check if all values in the column are null for each year
    years_all_null = combined_df.groupby('year')[col].apply(lambda x: x.isnull().all())
    # Get years where all values are null
    null_years[col] = years_all_null[years_all_null].index.tolist()

# Display columns with at least one year where all entries are null
for col, years in null_years.items():
    if years:
        print(f"Column '{col}' is all null in years: {years}")

Column 'XSATWR25' is all null in years: ['2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']
Column 'SATWR25' is all null in years: ['2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']
Column 'XSATWR75' is all null in years: ['2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']
Column 'SATWR75' is all null in years: ['2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']
Column 'XACTWR25' is all null in years: ['2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']
Column 'ACTWR25' is all null in years: ['2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']
Column 'XACTWR75' is all null in years: ['2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']
Column 'ACTWR75' is all null in years: ['2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']
Column 'ADMCON10' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'ADMCON11' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'ADMCON12' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'XAPPLCNAN' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'APPLCNAN' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'XAPPLCNUN' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'APPLCNUN' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'XADMSSNAN' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'ADMSSNAN' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'XADMSSNUN' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'ADMSSNUN' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'XENRLAN' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'ENRLAN' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'XENRLUN' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'ENRLUN' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'XENRLFTAN' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'ENRLFTAN' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'XENRLFTUN' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'ENRLFTUN' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'XENRLPTAN' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'ENRLPTAN' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'XENRLPTUN' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'ENRLPTUN' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'XSATVR50' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'SATVR50' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'XSATMT50' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'SATMT50' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'XACTCM50' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'ACTCM50' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'XACTEN50' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'ACTEN50' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'XACTMT50' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Column 'ACTMT50' is all null in years: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']

In [32]:
## Import and concatenate the characteristic files

# Directory containing the CSV files
# Filenames to be processed
all_char_files = [
    "../Data/hd2014.csv",
    "../Data/hd2015.csv",
    "../Data/hd2016.csv",
    "../Data/hd2017.csv",
    "../Data/hd2018.csv",
    "../Data/hd2019.csv",
    "../Data/hd2020.csv",
    "../Data/hd2021.csv",
    "../Data/hd2022.csv",
    "../Data/HD2023.csv"
]

# Read and combine all matched CSV files
dfs2 = []
for file in all_char_files:
    # Read the CSV file
    if 'HD2023' in file:
        df2 = pd.read_csv(file, low_memory=False)
    else:
        df2 = pd.read_csv(file, low_memory=False, encoding='latin1')
    # Extract the four digits in the filename
    match = re.search(r'(\d{4})', file)
    if match:
        df2['year'] = match.group(1)
    else:
        df2['year'] = None
    # Clean white space out of column names
    df2.columns = df2.columns.str.strip()
    dfs2.append(df2)

characteristics = pd.concat(dfs2, ignore_index=True)

In [33]:
# Clean the characteristics data
characteristics.drop_duplicates(inplace=True)
characteristics.dropna(subset=['UNITID','year'], inplace=True)
characteristics['UNITID'] = characteristics['UNITID'].astype(int)
characteristics.reset_index(drop=True, inplace=True)

In [34]:
# Left merge the characteristics data onto the combined admissions data on 'UNITID'
merged_df = pd.merge(combined_df, characteristics, on=['UNITID', 'year'], how='left', indicator=True)

In [35]:
merged_df.head()

,UNITID,ADMCON1,ADMCON2,ADMCON3,ADMCON4,ADMCON5,ADMCON6,ADMCON7,ADMCON8,ADMCON9,...,C18ENPRF,C18SZSET,C21BASIC,C21IPUG,C21IPGRD,C21UGPRF,C21ENPRF,C21SZSET,UEIS,_merge
0,100654,1,2,1,2,3,2,1,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
1,100663,1,3,1,1,3,3,1,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
2,100706,1,2,1,1,3,2,1,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
3,100724,1,3,2,3,3,3,1,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
4,100751,1,2,1,1,3,3,1,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both

In [37]:
# Show how many rows were matched and how many were not
merged_df["_merge"].value_counts()

# Drop unmatched rows and the merge indicator column
merged_df = merged_df[merged_df["_merge"] == "both"].drop(columns=["_merge"])

In [38]:
# Save the final combined DataFrame to a CSV file
merged_df.to_csv('../Data/combined_admissions_characteristics.csv', index=False)